<ion-header id="main-content">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-img src="../../assets/icon/logo.png" class="header-img"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-row>
        <ion-col class="d-flex">
          <ion-title>Pesca</ion-title>
          <ion-img
            src="../../assets/icon/logo.png"
            class="header-img"
          ></ion-img>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list lines="full">
      <ion-item>
        <a>Perfil</a>
      </ion-item>
      <ion-item>
        <a>Peixes</a>
      </ion-item>
      <ion-item>
        <a>Troféus</a>
      </ion-item>
      <ion-item>
        <a routerLink="/login" class="text-decoration-none text-reset">Sair</a>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-title>Cadastrar Peixe</ion-title>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <form [formGroup]="formulario" (ngSubmit)="cadastrar()">
          <ion-row>
            <ion-col size="12">
              <label class="form-label">Nome</label>
              <input
                placeholder="Nome"
                type="text"
                name="nome"
                class="form-control"
                formControlName="nome"
              />
            </ion-col>
            <ion-col size="12">
              <label class="form-label">Peso</label>
              <input
                placeholder="Peso"
                type="text"
                name="peso"
                class="form-control"
                formControlName="peso"
                mask="00.00 || 0000.00"
                suffix="kg"
              />
            </ion-col>
            <ion-col size="12">
              <label class="form-label">Comprimento</label>
              <input
                placeholder="Comprimento"
                type="text"
                name="comprimento"
                class="form-control"
                formControlName="comprimento"
                mask="00.00"
                suffix="m"
              />
            </ion-col>
            <ion-col size="12">
              <label for="formFile" class="form-label">Imagem</label>
              <input
                type="file"
                name="imagem"
                placeholder="Imagem"
                class="form-control"
                (change)="selecionarImagem($event)"
              />
            </ion-col>
            <ion-col
              size="12"
              class="d-flex justify-content-center"
              *ngIf="imagemPeixe"
            >
              <img
                [src]="imagemPeixeUrl"
                class="img-selecionada"
                alt="Imagem selecionada"
              />
            </ion-col>
            <ion-col size="6">
              <ion-button
                color="warning"
                expand="block"
                fill="outline"
                (click)="voltar()"
                >Voltar</ion-button
              >
            </ion-col>
            <ion-col size="6">
              <ion-button
                color="success"
                expand="block"
                fill="outline"
                type="submit"
                >Cadastrar</ion-button
              >
            </ion-col>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<app-footer></app-footer>
