<ion-header id="main-content">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-img src="../../assets/icon/logo.png" class="header-img"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-row>
        <ion-col class="d-flex">
          <ion-title>Pesca</ion-title>
          <ion-img
            src="../../assets/icon/logo.png"
            class="header-img"
          ></ion-img>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list lines="full">
      <ion-item>
        <a>Perfil</a>
      </ion-item>
      <ion-item>
        <a>Peixes</a>
      </ion-item>
      <ion-item>
        <a>Troféus</a>
      </ion-item>
      <ion-item>
        <a routerLink="/login" class="text-decoration-none text-reset">Sair</a>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-searchbar placeholder="Pesquisar"></ion-searchbar>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-chip>
          <ion-icon name="ribbon" color="warning"></ion-icon>
          <ion-label>Melhores Capturas</ion-label>
          <ion-icon name="close"></ion-icon>
        </ion-chip>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-title>Capturas Recentes</ion-title>
      </ion-col>
    </ion-row>
    <ion-row>
      <div
        id="carouselExampleCaptions"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="3000">
            <ion-card>
              <img
                class="carousel-img"
                alt="Tambaqui"
                src="../../assets/img/peixe1.jpg"
              />
              <ion-card-header>
                <ion-card-title class="fw-bolder text-dark text-center"
                  >Tambaqui</ion-card-title
                >
              </ion-card-header>
            </ion-card>
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <ion-card>
              <img
                class="carousel-img"
                alt="Dourado"
                src="../../assets/img/peixe2.jpg"
              />
              <ion-card-header>
                <ion-card-title class="fw-bolder text-dark text-center"
                  >Dourado</ion-card-title
                >
              </ion-card-header>
            </ion-card>
          </div>
        </div>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>

<app-footer></app-footer>
